
*{box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.container{
  width: 100%;

}


h1 {
  text-align: right;
  margin-right: 200px;
  font-size: 54px;
}

img.handshake {
  /*border: 2px solid red;*/
  height: auto;
  width: 400px;
  position: relative;
  top: 50px;
  left: 300px;
}
.sidebarcontainer{
  border:2px solid black; 
  height:70vh;
  width:25%;

}
.date{
  border: 2px solid red;
  height: auto;
  width: 20%;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

