@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright|Gabriela|Kreon&display=swap');
/* font-family: 'Kreon', serif;
font-family: 'Cormorant Upright', serif;
font-family: 'Gabriela', serif; */

*{box-sizing: border-box;
  font-family: 'Gabriela', serif; 
 
}
.maincontainer{
  display: flex;
  flex-direction: column;
  
}
.container1{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header1{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
img.handshake {
  height: auto;
  max-width: 400px;
  position: relative;
  top: 50px;
  left: 300px;
}
.introline{
  text-align: right;
  margin-right: 150px;
  font-size: 54px;
  margin-top: 100px;
  margin-bottom: 60px;
}
.menulink{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width:50%;
  margin: 30px 25%;
  font-weight: bold;
  color:rgb(221, 57, 57);
  font-size: 18px;
  
}

.date{
  height: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  margin: 0 25%;
}
.popupbtn{
  justify-content: center;
  margin-top: 10%;
  width:30%;
  margin: 10px 35%;
  
}
.popup{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

}
.weathertext{
  text-align: center;
  padding: 5px;
}
#wform{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  margin: 10px 40%;
  
}
.weather-info{
  display: flex;
  flex-direction: column;  
  max-width:80%;
  
  margin: 0 40%;
  text-align: center;
}
#footer{
  background-color:rgb(131, 58, 58) ;
}
.footercontainer{
  background-color: rgb(131, 58, 58);
  color: #000;
  text-align: center;
  height: 100px;
  
}
.footerrow{
  width:20%;
  margin: 5px 39.5%;
  display: flex;  
  flex-direction: row;
  justify-content: space-around;
}
.px-3{
  display: inline;
  position:relative;
  top: 20px;
 
}
.pt-4{
  padding: 10px;
  margin:0;
  margin-top: 30px;
}
h1 {
  text-align: right;
  font-size: 54px;
  margin-right: 30px;
  color: rgb(131, 58, 58);
}


.sidebarcontainer{
  border:2px solid black; 
  height:70vh;
  width:100%;

}
.aboutcontainer1, .pcontainer1, .ccontainer1{
  display: flex;
  width: 100%;
  /* background-color:rgba(9, 59, 53, 0.911) ; */
  background-color:#bab86c;
  height: 100%;
  /* overflow: hidden;  
  background-image: url(/src/Components/floral.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; */
 
}

.aboutcontainer2, .pcontainer2, .ccontainer2{
  display: flex;
  flex-direction: column;
  background-color:white ;
  width: 95%;
  height: auto;
  position: relative;
  top:1px;
  left:1px; 
  margin-bottom: 70px;
  /*border-radius: 20px;*/
  box-shadow: 10px 10px rgb(131, 58, 58);
  }
  .aboutText1{
  margin: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  }
  .atextcol{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: justify;
  }
  h3 {
    font-size: 24px;
    text-align: right;
    color: rgb(131, 58, 58);
  }
  h4{
    color:rgb(131, 58, 58) ;
  }
  p, span{
    font-size: 18px;
  }
  .ctext{
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;

  }
  .contactform{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 30px 10%;
  }
  #contactbtn{
    margin: 10px 0.1%;
    max-width: 80%;
    
  }
  #cinp{
    max-width: 100%;

  }
  input,button{
    border-radius: 5px;
   border-color: rgb(131, 58, 58);
   height: 30px;
   width: 250px;
  
  }
  button{
    background-color: #bab86c ;
    font-weight: bold;
    color:rgb(131, 58, 58);
    width: 250px;
  }
  label{
    font-weight: bold;
    color: rgb(131, 58, 58);
  }
  .pimage{
    /* position: relative;
    top: 10px;
    left: 600px; */
    border:2px solid gray;
    border-radius: 10px;
    width: 400px;
    height: 300px; 

  }
  #thumpnailcontainer{
    
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 40px;
  }
  #ptn{
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;

  }
  span{
    font-weight: bold;
    color: rgb(131, 58, 58);
  }
  #aspan{
    color: black;
    font-weight: normal;
    font-size: 14px;
  }
  #imagelink{
    margin: 0 250px;
  }
  /* .pcontent, .pcategory{
    margin: 0 300px ;
    position: relative;
    bottom: 100px;
  } */
  #responsive, #agile, #python, #three, #react, #sass, #ux{
    width: 90px;
    height: 90px;
  }
  @media only screen and (max-width: 1000px){
    img.handshake {
      height: auto;
      max-width: 400px;
      position: relative;
      top: 50px;
      left: 100px;
    }
    .introline{
      text-align: right;
      margin-right: 75px;
      font-size: 48px;
      margin-top: 100px;
      margin-bottom: 60px;
    }
    .popup{
      max-width: 80%;
      margin: 0 -2%;
      text-align: center;
    }
    
    .weather-info{
      width:250px;
      height:200px;
      margin: 0 35%;
      text-align: center;
    }
  }
  @media only screen and (max-width: 898px){
    .popup{
      
      position: relative;
      left: 120px;      
      text-align: center;
      
    }
    atextcol{
      display: flex;
      flex-direction: column;
      width: 35%;
      text-align: justify;
     
    }
    .pimage{
      /* position: relative;
      top: 10px;
      left: 600px; */
      border:2px solid gray;
      border-radius: 10px;
      width: 275px;
      height: 225px; 
  
    }
  }
  
  @media only screen and (max-width: 780px){
    
    
    .ctext{
      margin: 40px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      font-weight: bold;
      
    }
    h1, h3{
      text-align: center;
      margin-left: 40px;
      margin-right: 40px;
    }
    h1{
      font-size: 48px;
    }
    .contactform{
      display: flex;
      flex-direction: column;
      max-width: 100%;
      margin: 30px ;
      align-items: center;
    }
    .pimage{
      /* position: relative;
      top: 10px;
      left: 600px; */
      border:2px solid gray;
      border-radius: 10px;
      width: 250px;
      height: 200px; 
  
    }
    .header1{
      display: flex;
      flex-direction: column;
      margin-top: 50px;
    }
    img.handshake {
      height: auto;
      max-width: 400px;
      position: relative;
      top: 50px;
      left: 100px;
    }
    .introline{
      text-align: right;
      margin-right: 75px;
      font-size: 48px;
      margin-top: 100px;
      margin-bottom: 60px;
    }
    .menulink{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width:50%;
      margin: 30px 25%;
      font-weight: bold;
      color:rgb(221, 57, 57);
      font-size: 18px;
      
    }
    .weather-info{
      width:250px;
      height:200px;
      margin: 0 33%;
      text-align: center;
    }
    
    @media only screen and (max-width: 700px){
      img.handshake {
        height: auto;
        max-width: 400px;
        position: relative;
        top: 50px;
        left: 50px;
      }
      .introline{
        text-align: right;
        margin-right: 25px;
        font-size: 48px;
        margin-top: 100px;
        margin-bottom: 60px;
      }
      p, span{
        font-size: 14px;
      }
      .menulink{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width:80%;
        margin: 30px 10%;
        font-weight: bold;
        color:rgb(221, 57, 57);
        font-size: 14px;
        
      }
      button{
        background-color: #bab86c ;
        font-weight: bold;
        color:rgb(131, 58, 58);
        width: 250px;
      }
      .aboutText1{
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        
        }
        .atextcol{
          display: flex;
          flex-direction: column;
          width: 80%;
          text-align: justify;
          
        }
        .pimage{
          /* position: relative;
          top: 10px;
          left: 600px; */
          border:2px solid gray;
          border-radius: 10px;
          width: 200px;
          height: 125px; 
      
        }

    }

  }
  @media only screen and (max-width: 550px){
    .pimage{
      /* position: relative;
      top: 10px;
      left: 600px; */
      border:2px solid gray;
      border-radius: 10px;
      width: 125px;
      height: 125px; 
  
    }
    .aboutText1{
      margin: 5px;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      
      }
      .atextcol{
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: justify;
        
      }
      .weather-info{
        width:250px;
        height:200px;
        margin: 0 26%;
        text-align: center;
      }
      #wbtn{
        
        position: relative;
        top: 10px;
        left: 2px;
        width:200px;
        height: 30px;
        
      }
      #wform{
        display: flex;
        flex-direction: column;
        width:60%;
        justify-content: center;
        margin: 10px 18%;
      }
      .date{
        height: auto;
        width: 50%;
        text-align: center;
        padding: 10px;
        margin: 0 25%;
      }
      .popupbtn{
        justify-content: center;
        margin-top: 10%;
        width:50%;
        margin: 10px 25%;
        
      }
      .popup{
        width: 80%;
        margin: 0 -60px;
        text-align: center;
      }
      .weather-info{
        width:250px;
        height:200px;
        margin: 50px 24%;
        text-align: center;
      }
      img.handshake {
        height: auto;
        width: 300px;
        position: relative;
        top: 50px;
        left: 50px;
      }
      p{
        font-size: 12px;
      }
  }